section.team#team
    .container 
        .title(data-lang="team-title") Команда
    .list
        .member
            +picture("./img/team/1", ['png', 'webp'])
            p.name(data-lang="team-name-1") Константин Беовульф
            p.position(data-lang="team-1") Операционный директор
        .member 
            +picture("./img/team/2", ['png', 'webp'])
            p.name(data-lang="team-name-2") Роман Один
            p.position(data-lang="team-2") CEO проекта
        .member 
            +picture("./img/team/3", ['png', 'webp'])
            p.name(data-lang="team-name-3") Андрей Тор
            p.position(data-lang="team-3") Гл. Blockchain разработчик
        .member 
            +picture("./img/team/4", ['png', 'webp'])
            p.name(data-lang="team-name-4") Дмитрий Рэгнволд
            p.position(data-lang="team-4") Fullstack разработчик
        .member 
            +picture("./img/team/5", ['png', 'webp'])
            p.name(data-lang="team-name-5") Станислав Клемент
            p.position(data-lang="team-5") Арт-лид
        .member 
            +picture("./img/team/6", ['png', 'webp'])
            p.name(data-lang="team-name-6") Алхан Эйрик
            p.position(data-lang="team-6") Гейм-дизайнер
        .member 
            +picture("./img/team/7", ['png', 'webp'])
            p.name(data-lang="team-name-7") Сергей Кьярваль
            p.position(data-lang="team-7") Маркетолог / Аналитик