section.team
    .container 
        .title Команда
    .list
        .member 
            img(src="./img/team/1.png", alt="")
            p.name Операционный директор
        .member 
            img(src="./img/team/2.png", alt="")
            p.name CEO проекта
        .member 
            img(src="./img/team/3.png", alt="")
            p.name Гл. Blockchain разработчик
        .member 
            img(src="./img/team/4.png", alt="")
            p.name Fullstack разработчик
        .member 
            img(src="./img/team/5.png", alt="")
            p.name Арт-лид
        .member 
            img(src="./img/team/6.png", alt="")
            p.name Гейм-дизайнер
        .member 
            img(src="./img/team/7.png", alt="")
            p.name Маркетолог / Аналитик