section.team
    .container 
        .title(data-lang="team-title") Команда
    .list
        .member 
            img(src="./img/team/1.png", alt="")
            p.name(data-lang="team-1") Операционный директор
        .member 
            img(src="./img/team/2.png", alt="")
            p.name(data-lang="team-2") CEO проекта
        .member 
            img(src="./img/team/3.png", alt="")
            p.name(data-lang="team-3") Гл. Blockchain разработчик
        .member 
            img(src="./img/team/4.png", alt="")
            p.name(data-lang="team-4") Fullstack разработчик
        .member 
            img(src="./img/team/5.png", alt="")
            p.name(data-lang="team-5") Арт-лид
        .member 
            img(src="./img/team/6.png", alt="")
            p.name(data-lang="team-6") Гейм-дизайнер
        .member 
            img(src="./img/team/7.png", alt="")
            p.name(data-lang="team-7") Маркетолог / Аналитик