.popup.serv
    .popup-content 
        .popup-close(data-close)
        .popup-title(data-lang="popup-ref-title") REFERRAL PROGRAM
        .ref__wrap
            .text
                .bold(data-lang="popup-ref-text-bold-1") 
                ol 
                    li(data-lang="popup-ref-text-1")  Register in the Partner Cabinet
                    li(data-lang="popup-ref-text-2") Choose the "Main Campaign".
                    li(data-lang="popup-ref-text-3") Register customers through your referral link Tracking URL
                    li(data-lang="popup-ref-text-4") Get rewarded by NCT token from all payments of the referred clients to your MetaMask wallet
                .bold(data-lang="popup-ref-text-bold-2")  Bounty reward system
                ul 
                    li(data-lang="popup-ref-text-5") NCT purchase from 50 000 to 74 999 - 2% interest
                    li(data-lang="popup-ref-text-6") NCT purchase from 75 000 to 99 999 - 3% interest
                    li(data-lang="popup-ref-text-7") NCT purchase from 100 000 to 149 999 - 4% interest
                    li(data-lang="popup-ref-text-8") NCT purchase from 150 000 to 199 999 - 5% interest
                    li(data-lang="popup-ref-text-9") NCT purchase from 200 000 to 249 999 - 6% interest
                    li(data-lang="popup-ref-text-10") NCT purchase from 250 000 to 299 999 - 7% interest
                    li(data-lang="popup-ref-text-11") NCT purchase from 300 000 to 399 999 - 8% interest
                    li(data-lang="popup-ref-text-12") NCT purchase from 400 000 to 499 999 - 9% interest
                    li(data-lang="popup-ref-text-13") When you buy over 500,000  NCT - 10% interest   
            .image-side
                .image-side__title(data-lang="popup-ref-img-title") MONETIZE YOUR REMMENDATIONS
                +picture('./img/popups/server/img', ['png', 'webp'])
                a(href="https://pub.nftcraft.game/", target="_blank", rel="noopener noreferrer" data-lang="popup-ref-btn") BECOME A PARTNER
        .hint(data-lang="popup-ref-hint") Payments are made from the 1st to the 5th of each month
