.header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 104px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;    
    -webkit-transition: all .5s;
    transition: all .5s;
    background: rgba(20, 15, 23, 0.7);
    &.active {
        background: rgba(20, 15, 23, 0.84);
    }
    .beta__mobile {
        display: none;
    }
}

.header_hidden {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.header .container {
    position: -webkit-sticky;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
   > .lang {
        position: relative;
        margin-left: 50px;
        margin-right: auto;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: rgba(199, 223, 255, 0.6);
        span {
            cursor: default;
            padding-right: 26px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background-size: contain !important;
                width: 20px;
                height: 13px;
            }
            &.ru {
                &::before {
                    background: url("./../img/header/ru.png") center center no-repeat;
                }
            }
            &.en {
                &::before {
                    background: url("./../img/header/en.png") center center no-repeat;
                }
            }
        }
        ul {
            position: absolute;
            height: 0;
            overflow: hidden;
            z-index: -1;
            
            transition: all .3s;
            left: 0;
            top: 100%;
            li {
                padding-top: 4px;
                a {
                    position: relative;
                    padding-right: 26px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        background-size: contain !important;
                        width: 20px;
                        height: 13px;
                    }
                    &.ru {
                        &::before {
                            background: url("./../img/header/ru.png") center center no-repeat;
                        }
                    }                    
                    &.en {
                        &::before {
                            background: url("./../img/header/en.png") center center no-repeat;
                        }
                    }
                }
            }
        }
        &:hover {
            ul {
                opacity: 1;
                z-index: 1;
                height: 80px;
            }
        }
    }
}

.header__logo {
    min-width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    background: url("./../img/header/logo.svg") center center no-repeat;    
    background-size: 100% 100%;
    img {
        display: none;
    }
}

.header__nav > .lang {
    display: none;
}

.header__nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px
}

.header__nav > ul li {
    position: relative
}

.header__nav > ul li:not(:last-child) {
    margin-right: 30px
}

.header__nav > ul li:last-child {
    color: #33F3FF
}

.header__nav > ul li:not(.beta) {
    -webkit-transition: color .3s;
    transition: color .3s;
    padding-bottom: 6px;
    padding-top: 6px;
}

.header__nav > ul li:not(.beta)::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(66, 244, 255, 0)), color-stop(51.61%, #42F4FF), to(rgba(66, 244, 255, 0)));
    background: linear-gradient(90deg, rgba(66, 244, 255, 0) 0%, #42F4FF 51.61%, rgba(66, 244, 255, 0) 100%);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform 0.3s, -webkit-transform .3s;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%
}

.header__nav > ul li:not(.beta):hover {
    color: #33F3FF
}

.header__nav > ul li:not(.beta):hover::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
}

.header__nav > ul li.beta {
    -webkit-animation: opacityBeta 5s ease infinite;
    animation: opacityBeta 5s ease infinite;
    -webkit-transition: all .5s;
    transition: all .5s;
    
    text-shadow: 0px 0px 12px rgba(51, 243, 255, 0.4);

}

.header__nav > ul li.beta i {
    position: absolute;
    width: 13px;
    height: 13px;
    display: block;
    -webkit-transition: all .5s;
    transition: all .5s
}

.header__nav > ul li.beta i:nth-child(1) {
    top: 0;
    left: 0;
    border-left: 1px solid #33F3FF;
    border-top: 1px solid #33F3FF
}

.header__nav > ul li.beta i:nth-child(2) {
    top: 0;
    right: 0;
    border-right: 1px solid #33F3FF;
    border-top: 1px solid #33F3FF
}

.header__nav > ul li.beta i:nth-child(3) {
    bottom: 0;
    left: 0;
    border-left: 1px solid #33F3FF;
    border-bottom: 1px solid #33F3FF
}

.header__nav > ul li.beta i:nth-child(4) {
    bottom: 0;
    right: 0;
    border-right: 1px solid #33F3FF;
    border-bottom: 1px solid #33F3FF
}

.header__nav > ul li.beta a {
    position: relative;
    height: 48px;
    width: 134px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #33F3FF;
}

.header__nav > ul li.beta:hover {
    -webkit-box-shadow: 0 0 30px rgba(51, 243, 255, 0.25);
    box-shadow: 0 0 30px rgba(51, 243, 255, 0.25);
    opacity: 1
}

.header__nav > ul li.beta:hover i {
    width: 50%;
    height: 50%
}

.mobile-menu__btn {
    position: absolute;
    left: 20px;
    top: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 22px;
    height: 18px;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    margin-left: auto;
    display: none
}

.mobile-menu__icon {
    display: block;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: .4s;
    transition: .4s;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;

    }
}

.mobile-menu__btn::after,
.mobile-menu__btn::before {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 2px;
    -webkit-transition: .4s;
    transition: .4s
}

.mobile-menu__btn::after {
    top: 0
}

.mobile-menu__btn::before {
    top: 100%
}

.mobile-menu__checkbox {
    display: none
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon {
    background: transparent
}
.mobile-menu__checkbox {
    &:checked {
        ~ {
            .mobile-menu__btn {
                height: 22px;
                &::after {
                    transform: rotate(45deg);
                    top: 50%;
                }
                &::before {
                    transform: rotate(-45deg);
                    top: 50%;
                }
            }
        }
    }
}
@media (max-width: 1200px) {

        .header {
            .container {
                >.lang {
                    margin-left: 18px;
                }
            }
            &__nav {
                > ul {
                    font-size: 15px;
                    li {
                        &:not(:last-child) {
                            margin-right: 20px;
                        }
                        &.beta {
                            a {
                                width: 118px;
                            }
                        }
                    }
                }
            }
        }
    
}

@media (max-width: 992px) {
    .header {
        &__nav {
            ul {
                font-size: 15px;
            }
        }
        .container {
           > .lang {
                margin-left: 12px;
                span {
                    padding-right: 12px;
                }
            }
        }
    }
    .header__nav ul li:not(:last-child) {
        margin-right: 30px
    }
    .mobile-menu__btn {
        display: flex;
    }
    .header {
        -webkit-transition: all .5s;
        transition: all .5s;
        height: 77px;
        .beta__mobile {
            display: block;
            position: absolute;
            top: 32px;
            right: 20px;
            font-weight: 800;
            font-size: 14px;
            line-height: 100%;
            color: #33F3FF;
            
            text-transform: uppercase;
            // &::before {
            //     content: '>>>';
            //     color: #33F3FF;
            //     text-shadow: 0px 0px 12px rgba(51, 243, 255, 0.4);
            //     font-size: 18px;
            //     position: absolute;
            //     bottom: 0;
            //     left: 50%;
            //     transform: translateX(-50%);
            // }
        }
        .container {
           > .lang {
                display: none;
            }
        }
    }

    .header .container {
        height: 100%
    }

    .header__nav {
        top: 100px;
        left: 0;
        position: absolute;
        width: 100%;
        -webkit-transform: translateY(-140%);
        transform: translateY(-140%);
        opacity: 0;
        transition: opacity .5s linear;
        .lang {
            display: block;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: rgba(199, 223, 255, 0.6);
            width: 100px;
            text-align: center;
            span {
                cursor: default;
                padding-right: 26px;
                position: relative;
                display: block;
                width: 100%;
                text-align: left;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    background-size: contain !important;
                    width: 20px;
                    height: 13px;
                }
                &.ru {
                    &::before {
                        background: url("./../img/header/ru.png") center center no-repeat;
                    }
                }
                &.en {
                    &::before {
                        background: url("./../img/header/en.png") center center no-repeat;
                    }
                }                
            }
            ul {
                position: absolute;
                height: 0;
                overflow: hidden;
                transition: height .3s;
                left: 0;
                width: 100%;
                top: 100%;
                font-size: 16px;
                li {
                    text-align: left;
                    padding-top: 6px;
                    margin-bottom: 0 !important;
                    a {
                        position: relative;
                        padding-right: 26px;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            background-size: contain !important;
                            width: 20px;
                            height: 13px;
                        }
                        &.ru {
                            &::before {
                                background: url("./../img/header/ru.png") center center no-repeat;
                            }
                        }
                        &.en {
                            &::before {
                                background: url("./../img/header/en.png") center center no-repeat;
                            }
                        }
                    }
                }
            }
            &:hover {
                ul {
                    height: 80px;
                    
                }
            }
        }
    }

    .header__nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 20px;
        text-align: center;
        line-height: 140%
    }

    .header__nav ul li a {
        display: block;
        width: 100%;
        height: 100%
    }

    .header__nav ul li:not(.beta)::after {
        display: none
    }

    .header__nav ul li:not(:last-child) {
        margin: 0 0 24px
    }
    
    .header__nav ul li:nth-child(6) {
        margin-bottom: 12px;
    }
    .header__nav > ul li:last-child {
        display: none;
    }

    .header__nav ul li.beta a {
        padding-right: 0;
        width: 170px
    }

    .header__nav ul li.beta span {
        display: none
    }

    .header__logo {
        position: absolute;
        left: 50%;
        top: 16px;
        transform: translateX(-50%);
        min-width: 180px;
    }

    .header.mobile {
        height: 540px;
        background: rgba(10, 5, 13, 0.9);
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background: rgba(20, 15, 23, 0.7);
            
        }
    }

    .header.mobile .container {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .header.mobile .header__nav {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        transition-delay: .4s;
    }
}

@media (max-width: 374px) {
    .header__logo {
        min-width: 140px;
        top: 20px;
    }
}