header.header
  .container
    a.header__logo(href='/')
      img(src='./img/header/logo.png' alt='Logo NFT Craft')

    .lang(data-lang-selector lang-value="en")
      span.lang-selected
      ul.lang-list
        li.lang-list__item
          a.ru(data-lang-pick="ru") Russian
        li.lang-list__item
          a.en(data-lang-pick="en") English
    nav.header__nav
      ul
        //- li
        //-   a(href='https://mine.nftcraft.game' data-lang="menu-metaCraft") MetaCraft
        li
          a(href='#tokenomics' data-lang="menu-economics") Economics
        li
          a(href='#achievements' data-lang="menu-achievements") Achievements
        li 
          a(href="#roadmap" data-lang="menu-roadmap") Roadmap 
        li.beta
          a(href='#token')             
            i
            i
            i
            i
            p(data-lang="menu-nct")
    input#checkbox.mobile-menu__checkbox(type='checkbox')
    label.mobile-menu__btn(for='checkbox')
      span.mobile-menu__icon
    //- a.beta__mobile(href='https://app.nftcraft.game' onclick="ym(86035474,'reachGoal','RUN_DEMO_EN')") Demo
