header.header
  .container
    a.header__logo(href='/')
      img(src='./img/header/logo.png' alt='Logo NFT Craft')

    select(data-lang-selector)
      option(value="en" selected) EN
      option(value="ru")  RU

    .lang
      span.en(selected) English
      ul
        li
          a.ru Russian
    nav.header__nav
      ul
        li
          a(href='https://mine.nftcraft.game' data-lang="menu-metaCraft") MetaCraft
        li
          a(href='#tokenomics' data-lang="menu-economics") Economics
        li
          a(href='#achievements' data-lang="menu-achievements") Achievements
        li 
          a(href="#roadmap" data-lang="menu-roadmap") Roadmap 
        li.beta
          a(href='#token')             
            i
            i
            i
            i
            p(data-lang="menu-nct") Купить NCT
      .lang
        span.en English
        ul
          li
            a.ru(href='/ru/') Russian
    input#checkbox.mobile-menu__checkbox(type='checkbox')
    label.mobile-menu__btn(for='checkbox')
      span.mobile-menu__icon
    //- a.beta__mobile(href='https://app.nftcraft.game' onclick="ym(86035474,'reachGoal','RUN_DEMO_EN')") Demo
