header.header
  .container
    a.header__logo(href='/')
      +picture('./img/header/logo', ['png', 'webp'], 'Logo NFT Craft')

    .lang(data-lang-selector lang-value="en")
      span.lang-selected
      +picture('./img/header/lang_arrow', ['png', 'webp'], 'Logo NFT Craft')
      ul.lang-list
        li.lang-list__item
          a.ru(data-lang-pick="ru") RUS
        li.lang-list__item
          a.en(data-lang-pick="en") ENG
    nav.header__nav
      ul
        li.list MetaCraft           
          ul.dropdown-list 
            li 
              a(href='https://dev.dwarfworld.ru/ru', target="_blank", rel="noopener noreferrer") Minecraft
            li 
              a(href="http://app.nftcraft.game", target="_blank", rel="noopener noreferrer") Web
            li 
              a(href="http://https://unity.nftcraft.game/", target="_blank", rel="noopener noreferrer")   Unity
        li
          a(href='#tokenomics' data-lang="menu-economics") Economics
        li
          a(href='#achievements' data-lang="menu-achievements") Achievements
        li 
          a(href="#roadmap" data-lang="menu-roadmap") Roadmap 
        //- li.beta
        //-   a(href='#token')             
        //-     i
        //-     i
        //-     i
        //-     i
        //-     p(data-lang="menu-nct")        
        button.login.user(onclick="connectWallet()")
          +picture('./img/header/login', ['png', 'webp'], 'metamask')
          span(data-lang="menu-metamask-btn") Connect wallet
        .user.user__info.off
          .balance
            span(onclick="addTokenToMetaMask()")
                +picture('./img/header/add-token', ['png', 'webp'], 'logout')
            span.green NCT:
            span.userBalance 411 512
          .logout
            .number.userAddress 0x37F...5E1dввоа
            span(onclick="logout()")
                +picture('./img/header/logout', ['png', 'webp'], 'logout')
    input#checkbox.mobile-menu__checkbox(type='checkbox')
    label.mobile-menu__btn(for='checkbox')
      span.mobile-menu__icon
    //- a.beta__mobile(href='https://app.nftcraft.game' onclick="ym(86035474,'reachGoal','RUN_DEMO_EN')") Demo
