section.platform    
    .container         
        .slide.green
            .name Превратите вашу игру в суперхит
            .title ПЛАТФОРМА ПО УВЕЛИЧЕНИЮ ДОХОДНОСТИ PC ИГР
            p.descr Выигрывай токены сUSD или долю от общего призового пула <br> Принимай участие в строительстве архитектурных известных сооружений, получай вознаграждение и становись их совладельцем <br> Участвуй и побеждай в регулярных  турнирах с призовым пулом от 100 до 300 USDT  
            a(href="https://mine.nftcraft.game").btn ИгРАть
            img(src="./img/platform/slide-1.png", alt="")
        .slide.blue 
            .name Играй! Добывай! Инвестируй!
            .title МАЙНИНГ В 2D МИРЕ ДВАРФОВ
            p.descr Играй в 2D мире дварфов и зарабатывай на майнинге токена cUSD/RAD <br> Минимум времени в игре, максимум доходности <br> Зарабатывай, пока всю грязную работу по майнингу токенов делают твои мускулистые дварфы
            a(href="https://web.nftcraft.game").btn ИгРАть
            img(src="./img/platform/slide-2.png", alt="")
        .slide.purple
            .name Unity
            .title ПРОТОТИП НА UNITY
            p.descr Зарабатывай быстро и просто! <br> <br> Собственный мир MINECRAFT на 3D движке Unity доступный прямо из браузера
            a(href="https://unity.nftcraft.game").btn ИгРАть
            img(src="./img/platform/slide-3.png", alt="")
        .slide.orange
            .name Превратите вашу игру в суперхит
            .title ПЛАТФОРМА ПО УВЕЛИЧЕНИЮ ДОХОДНОСТИ PC ИГР
            p.descr Решения NFTCRAFT Monetization сделают вашу игру эффективным источником дохода за счет совмещения игровых миров с блокчейном, технологиями масштабирования серверов и проверенной экономической моделью.
            a(href="mailto:invest.nftcraft.game").btn ПРЕДЛОЖЕНИЕ
            img(src="./img/platform/slide-4.png", alt="")

                
                     