section.referrals
    .container
        .referral__wrap 
            .img 
                +picture('./img/referrals/ref__bg', ['png', 'webp'])
            .about 
                .title_color(data-lang="ref-title-color") MONETIZE YOUR REMMENDATIONS
                .title(data-lang="ref-title") REFERRAL PROGRAM
                .text(data-lang="ref-text") Pay up to 10% of customer payments for the purchase of NCT tokens Partner's personal account with clear analytics and a reports
                button(data-lang="ref-button").popup-btn.serv MORE DETAILED