section.referrals#referrals
    .container
        .referral__wrap 
            .img 
                +picture('./img/referrals/ref__bg', ['png', 'webp'])
            .about 
                .title_color(data-lang="ref-title-color") MONETIZE YOUR REMMENDATIONS
                .title(data-lang="ref-title") REFERRAL PROGRAM
                .text
                    p(data-lang="ref-text-1")  Get rewarded up to 10% of the purchase amount of NCT tokens 
                    p(data-lang="ref-text-2")  Partner's personal account with transparent analytics and a full report
                button(data-lang="ref-button").popup-btn.serv MORE DETAILED