section.numbers 
    .container 
        .title(data-lang="numbers-title") NFTCRAFT В ЦИФРАХ
        .wrapper 
            .col    
                .item 
                    .label(data-lang="numbers-item-label-1") Продажи:
                    .descr(data-lang="numbers-item-descr-1") продано >1000 NFT объектов
                .item 
                    .label(data-lang="numbers-item-label-2") Партнеры:
                    .descr(data-lang="numbers-item-descr-2") >10 крупных партнеров OwnFund, Envelop, Venus etc.
                .item 
                    .label(data-lang="numbers-item-label-3") Инвестиции:
                    .descr(data-lang="numbers-item-descr-3") 500K USDT ежемесячно с 05.2022
            .col    
                .purpose 
                    .label(data-lang="numbers-item-label-4") Цель:
                    .descr(data-lang="numbers-item-descr-4") >300K пользователей <br> в 4Q.2022

                .item 
                    .label(data-lang="numbers-item-label-5") Команда:
                    .descr(data-lang="numbers-item-descr-5") 35 человек
            .col   
                .item 
                    .label(data-lang="numbers-item-label-6") Коммьюнити:
                    .descr(data-lang="numbers-item-descr-6") >5000 участников 
                .item 
                    .label(data-lang="numbers-item-label-7") Игровые ивенты:
                    .descr(data-lang="numbers-item-descr-7") проведено >20 ивентов <br> PvE / Стройка / 2D
                .item 
                    .label(data-lang="numbers-item-label-8") Инвестиции
                    .descr(data-lang="numbers-item-descr-8") привлечено 3,7M USD