section.numbers 
    .container 
        .title NFTCRAFT В ЦИФРАХ
        .wrapper 
            .col    
                .item 
                    .label Продажи:
                    .descr продано >1000 NFT объектов
                .item 
                    .label Партнеры:
                    .descr >10 крупных партнеров OwnFund, Envelop, Venus etc.
                .item 
                    .label Инвестиции:
                    .descr 500K USDT ежемесячно с 05.2022
            .col    
                .purpose 
                    .label Цель:
                    .descr >300K пользователей <br> в 4Q.2022

                .item 
                    .label Команда:
                    .descr 35 человек
            .col   
                .item 
                    .label Коммьюнити:
                    .descr >5000 участников 
                .item 
                    .label Игровые ивенты:
                    .descr проведено >20 ивентов <br> PvE / Стройка / 2D
                .item 
                    .label Инвестиции
                    .descr привлечено 3,7M USD