section.achievements
    .container 
        .title achievements
        .wrapper 
            a(href="https://mine.nftcraft.game" target="_blank").item
                p Создали прототип метавселенной METACRAFT в мире Minecraft
                span Сайт
                +image('achievements/item-1') 
            .item
                p Получили финансирование в размере $3,7M USD
                i Proof by Request
                +image('achievements/item-2')
            a(href="https://mine.nftcraft.game" target="_blank").item
                p Регулярные турниры в 3D-метавселенной Minecraft
                span Турниры
                +image('achievements/item-3')
            a(href="#team").item
                p Собрали ТОП-команду экспертов и разработчиков
                span Команда
                +image('achievements/item-4')
            a(href="https://web.nftcraft.game" target="_blank").item
                p Браузерная игра на блокчейне
                span Игра
                +image('achievements/item-5')
            a(href="https://polygonscan.com/address/0x1ae8c689c013f596aec66471e8f5662f16b06642?roistat_visit=128137" target="_blank").item
                p Продали более 1.000 NFT и создали устойчивую экономику
                span Контракт
                +image('achievements/item-6')
            a(href="https://unity.nftcraft.game" target="_blank").item
                p MVP мультиплатформенной 3D-игры на Unity
                span Игра
                +image('achievements/item-7')
            .item
                p Провели ряд презентаций и митапов, получили положительную оценку 
                .row    
                    a(href="https://www.youtube.com/watch?v=GQ7gziZzmWM" target="_blank") Видео 01.1021
                    a(href="https://youtu.be/624xg-b5gG0" target="_blank") Видео 22.02.22
                +image('achievements/item-8')
            a(href="https://polygonscan.com/address/0x75e35522ec4fd6d815191c2a4134477a33cfd829#analytics" target="_blank").item
                p Выпуск Governance-токена NCT
                span Контракт
                +image('achievements/item-9')
            .item
                p Заключили партнерства с крупными фондами и сильными партнерами                
                +image('achievements/item-10')
            .img 
                +image('achievements/img')
                