section.achievements
    .container 
        .title achievements
        .wrapper 
            a(href="").item
                p Создали прототип метавселенной METACRAFT в мире Minecraft
                span Сайт
                +image('achievements/item-1') 
            a(href="").item
                p Получили финансирование в размере $3,7M USD
                span Proof by Request
                +image('achievements/item-2')
            a(href="").item
                p Регулярные турниры в 3D-метавселенной Minecraft
                span Турниры
                +image('achievements/item-3')
            a(href="").item
                p Собрали ТОП-команду экспертов и разработчиков
                span Команда
                +image('achievements/item-4')
            a(href="").item
                p Браузерная игра на блокчейне
                span Игра
                +image('achievements/item-5')
            a(href="").item
                p Продали более 1.000 NFT и создали устойчивую экономику
                span Контракт
                +image('achievements/item-6')
            a(href="").item
                p MVP мультиплатформенной 3D-игры на Unity
                span Игра
                +image('achievements/item-7')
            .item
                p Провели ряд презентаций и митапов, получили положительную оценку 
                .row    
                    a(href="") Видео 01.1021
                    a(href="") Видео 22.02.22
                +image('achievements/item-8')
            a(href="").item
                p Выпуск Governance-токена NCT
                span Контракт
                +image('achievements/item-9')
            a(href="").item
                p Заключили партнерства с крупными фондами и сильными партнерами
                span Партнеры
                +image('achievements/item-10')
            .img 
                +image('achievements/img')
