section.free 
    .container 
        span.action ПЕРВЫЙ ШАГ БЕСПЛАТНО
        h2.title ИГРАЙ И ПОЛУЧИ В <b>ПОДАРОК</b> <br> ЦЕННОГО NFT ДВАРФА
        p Выполни все задания квеста и получи уникального ценного NFT дварфа, полностью обеспеченного ETH.
        p Полученным дварфом ты можешь играть в DEMO в любой вселенной NFTcraft
        .buttons 
            a.btn.primary(href="") Получить
            a.btn.neutral(href="") Что делать
        +image('free-img')
