header.header
  .container
    a.header__logo(href='/')
      img(src='./assets/img/header/logo.png' alt='Logo NFT Craft')
    .lang
      span.en English
      ul
        li
          a.ru(href='/ru/') Russian
    nav.header__nav
      ul
        li
          a(href='#benefits') Invest by Play
        li
          a(href='#quests') Quests
        li
          a(href='#pre-sale') Pre-Sale
        li
          a(href='#achievments') Achievements
        li
          a(href='#partners') Partners
        li
          a(href='#faq') FAQ
        //- li.beta
        //-   a(onclick="ym(86035474,'reachGoal','RUN_DEMO_EN')" href='https://app.nftcraft.game')
        //-     | Demo
            i
            i
            i
            i
      .lang
        span.en English
        ul
          li
            a.ru(href='/ru/') Russian
    input#checkbox.mobile-menu__checkbox(type='checkbox')
    label.mobile-menu__btn(for='checkbox')
      span.mobile-menu__icon
    //- a.beta__mobile(href='https://app.nftcraft.game' onclick="ym(86035474,'reachGoal','RUN_DEMO_EN')") Demo
