section.steps
    .container 
        .title СТАДИИ РАЗБЛОКИРОВКИ токена
    .list
        .step 
            p.text 10 % токенов разблокируется 
                span через 45 дней
            p.time 45д
            p.percent +10%
        .step 
            p.text 5 % токенов разблокируется
                span через следующие 30 дней 
            p.time 30д
            p.percent +10%
        .step 
            p.text Далее от 1 до 5% в месяц 
                span по договоренности 
            p.time 30д
            p.percent +10%
                
                