section#team.team
    .container 
        .title Команда
    .list
        .member 
            +image('team/1')
            p.name Константин Гербер
            p.position Операционный директор
        .member 
            +image('team/2')
            p.name Роман Моисеев
            p.position CEO проекта
        .member 
            +image('team/3')
            p.name Андрей Мокеев
            p.position Гл. Blockchain разработчик
        .member 
            +image('team/4')
            p.name Дмитрий Куликов
            p.position Fullstack разработчик
        .member 
            +image('team/5')
            p.name Станислав Мурашов
            p.position Арт-лид
        .member 
            +image('team/6')
            p.name Алхан Актемиров
            p.position Гейм-дизайнер
        .member 
            +image('team/7')
            p.name Сергей Кузьмин
            p.position Маркетолог / Аналитик
    
