section.token   
    .container 
        h2.title NCT – УПРАВЛЯЮЩИЙ токен пРОЕКТА 
        ul 
            li Общий запас: 50 000 000 NCT
            li Для покупки доступно: 2 500 000 NCT
            li Стоимость NCT: 0,15 USD
        .exchanger
            .label Amount:
            .input 
                input.nct(type="number", value="1000", name="nct")
                span NCT
            .input
                input(type="number", value="1000", name="ucdt")
                span USDT
            button() 
                span buy nct
                +image('token/btn__arrow')
        .img 
            +image('token/bg')