section.token   
    .container 
        h2.title NCT – токен платформы по <br> увеличению доходности pc игр
        p.descr Платформа NFTCRAFT Monetization позволяет сделать любую PC игру эффективным источником дохода за счет интеграции блокчейна, технологий масштабирования и проверенной экономической модели.
        a(href="").btn.primary buy nct
        .info 
            .label The Ecosystem is powered by the core project (NCT) governance token.
            .row 
                .block 
                    .name Name:
                    .count NFTcraft core token - NCT
            .row 
                .block 
                    .name NTC Price at IGO (USD):
                    .count $50
                .block 
                    .name Initial Market Cap:
                    .count $50M
            .row 
                .block 
                    .name Max Total Supply:
                    .count 10 000 000
                .block 
                    .name Fully Diluted Cap:
                    .count $3B
        .img 
            +image('token/bg')