section.tokenomics
  .container
    .head ТОКЕНОМИКА ПРОЕКТА
    .descr Узнай историю о межгалактической миссии по захвату астероида из чистого нео-золота. <br> Участвуй в сетевой игре на движке MINECRAFT. Побеждай в турнирах по добыче Радианта и режиме Творчество.
    .wrapper
        .img
            +image('tokenomics/main-1')
        .content
            .title.emerald КАК ЗАРАБАТЫВАЮТ <br> ИГРОКИ
            p Игра реализована на движке <b> MINECRAFT </b>
            p В игре 2 режима: <b>Творчество и Крафтинг</b>
            p Каждый дварф — это NFT-объект, <br> который можно прокачивать и продавать
    .wrapper.reverse
        
        .content
            .title.purple КАК ЗАРАБАТЫВАЕТ <br> КОМАНДА
            p Выбери режим игры, в котором сможешь раскрыться полностью.
            p Кто ты? Творец, создающий уникальные сооружения, локации и другие NFT-объекты или Крафтер, добывающий радиант в PvE-турнирах и сражающийся на PvP-арене!
        .img
            +image('tokenomics/main-2')
    .wrapper
        .img
            +image('tokenomics/main-3')
        .content
            .title.blue КАК ЗАРАБАТЫВАЮТ <br> ИНВЕСТОРЫ
            p Покупай участки, строй на них неповторимые здания и сооружения, меняй дизайн ландшафта.
            p Создавай на участках новые локации, сдавай их в аренду или продавай.
            p Участвуй в строительных турнирах, докажи, что ты лучший Творец во вселенной NFTcrfat!
        