.free {
    background: url(./../images/free-bg.png) center center no-repeat;
    background-size: cover;
    .container {
        position: relative;
        padding: rem(359) rem(20) rem(548);
    }
    .action {
        position: relative;
        z-index: 1;
        color: $primaryColor;
        font-weight: 700;
        font-size: rem(28);
        line-height: rem(32);
        margin-bottom: rem(12);
    }
    .title {
        position: relative;
        z-index: 1;
        font-weight: 700;
        font-size: rem(50);
        line-height: rem(58);
        margin-bottom: rem(16);
    }
    p {
        position: relative;
        z-index: 1;
        font-weight: 400;
        font-size: rem(20);
        max-width: rem(520);
        margin-bottom: rem(12);
     }
    .buttons {
        position: relative;
        z-index: 1;
        display: flex;
        gap: rem(24);
        margin-top: rem(48);
        flex-wrap: wrap;
    }
    .btn {
        position: relative;
        z-index: 1;
        width: rem(288);
        height: rem(64);
    }
    img {
        position: absolute;
        bottom: rem(118);
        right: rem(-280);
        max-width: rem(978);
        width: 100%;
    }
}

@media (max-width: $lgTableWidth) {
    .free {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        img {
            position: relative;
            bottom: auto;
            right: auto;
            top: rem(-88);
        }
    }
}