.main {
    background: url(./../images/main/bg.png);
    background-size: cover;
    .container {
        position: relative;
        height: 100vh;
        min-height: rem(724);
    }
    .logo {
        position: absolute;
        bottom: 14vw;
        right: 0;
        max-width: rem(689);
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: $tableWidth) {
    .main {
        .logo {
            top: 14%;
            bottom: auto;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}