.numbers {
    padding: rem(88) 0;

    .title {
        font-weight: 700;
        font-size: rem(55);
        text-align: center;
        line-height: 130%;
        text-transform: uppercase;
        position: relative;
        padding-bottom: rem(32);
        margin-bottom: rem(31);
        text-shadow: $mainShadow;

        &::before {
            content: '';
            position: absolute;
            bottom: rem(-30);
            left: 50%;
            transform: translateX(-50%);
            width: rem(170);
            height: rem(68);
            background: url(./../images/numbers/title.png) center center;
            background-size: 100% 100%;
        }
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: rem(20);
        text-align: center;
    }

    .col {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        width: calc(33% - 1rem);
    }

    .purpose {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        .label {
            color: #01C1FD;
            font-weight: 700;
            font-size: rem(24);
            line-height: 120%;
            margin-bottom: rem(4);
            text-shadow: 0px 0px 64px rgba(1, 193, 253, 0.5), 0px 0px 24px rgba(1, 193, 253, 0.4), 0px 0px 4px rgba(1, 193, 253, 0.4);
        }

        .descr {
            text-shadow: 0px 0px 64px rgba(255, 255, 255, 0.5), 0px 0px 24px rgba(255, 255, 255, 0.4), 0px 0px 4px rgba(255, 255, 255, 0.4);
            font-weight: 700;
            font-size: rem(30);
            line-height: 110%;
        }

        &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(2);
            width: 100%;
            height: 100%;
            background: radial-gradient(50% 45.09% at 50% 45.09%, rgba(1, 193, 253, 0.12) 0%, rgba(1, 193, 253, 0.118962) 6.67%, rgba(1, 193, 253, 0.115739) 13.33%, rgba(1, 193, 253, 0.110201) 20%, rgba(1, 193, 253, 0.102311) 26.67%, rgba(1, 193, 253, 0.092187) 33.33%, rgba(1, 193, 253, 0.0801739) 40%, rgba(1, 193, 253, 0.0668771) 46.67%, rgba(1, 193, 253, 0.0531229) 53.33%, rgba(1, 193, 253, 0.0398261) 60%, rgba(1, 193, 253, 0.027813) 66.67%, rgba(1, 193, 253, 0.0176894) 73.33%, rgba(1, 193, 253, 0.00979918) 80%, rgba(1, 193, 253, 0.0042612) 86.67%, rgba(1, 193, 253, 0.00103766) 93.33%, rgba(1, 193, 253, 0) 100%), radial-gradient(33.47% 33.47% at 50% 50%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.0396541) 6.67%, rgba(255, 255, 255, 0.0385796) 13.33%, rgba(255, 255, 255, 0.0367336) 20%, rgba(255, 255, 255, 0.0341035) 26.67%, rgba(255, 255, 255, 0.030729) 33.33%, rgba(255, 255, 255, 0.0267246) 40%, rgba(255, 255, 255, 0.0222924) 46.67%, rgba(255, 255, 255, 0.0177076) 53.33%, rgba(255, 255, 255, 0.0132754) 60%, rgba(255, 255, 255, 0.00927099) 66.67%, rgba(255, 255, 255, 0.00589645) 73.33%, rgba(255, 255, 255, 0.00326639) 80%, rgba(255, 255, 255, 0.0014204) 86.67%, rgba(255, 255, 255, 0.000345888) 93.33%, rgba(255, 255, 255, 0) 100%);
        }
    }

    .item {
        padding: rem(16) 0;
        background: url(./../images/numbers/item-bg.png) center center no-repeat;
        background-size: 100% 100%;

        .label {
            font-weight: 400;
            font-size: rem(20);
            margin-bottom: rem(2);
        }

        .descr {
            font-weight: 700;
            font-size: rem(24);
            line-height: 120%;
        }
    }
}

@media (max-width: $lgTableWidth) {
    .numbers {
        .wrapper {
            flex-direction: column;
        }
        .col {
            width: 100%;
            &:nth-child(1) {
               order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(3) {
                order: 3;
            }
        }
        .item {
            padding: rem(16);
        }
        
    }
}

@media (max-width: $smTableWidth) {
    .numbers {
        .title {
            font-size: 34px;
        }
    }
}