.tokenomics {
    padding: rem(108) 0 rem(166);
    b {
        color: $mainFontColor;
        font-weight: 700;
    }
    .head {
        font-weight: 700;
        font-size: rem(50);
        margin-bottom: rem(20);
        text-shadow: $mainShadow;
    }
    .descr {
        font-weight: 400;
        font-size: rem(20);
        line-height: 160%;
        margin-bottom: rem(72);
    }
    img {
        width: 100%;
        height: 100%;
    }
    .img {
        width: 50%;
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(24) rem(48);

        &:not(:last-child) {
            margin-bottom: rem(60);
        }

    }

    .content {
        width: 50%;

        p {
            font-weight: 400;
font-size: rem(24);
line-height: 150%;

            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    .title {
        font-weight: bold;
        font-size: rem(40);
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: rem(24);

        

        &.emerald {
            text-shadow: 0px 0px 64px #5ACD00, 0px 0px 24px #5ACD00, 0px 0px 6px #5ACD00;        
        }

        &.purple {
            text-shadow: 0px 0px 64px #06FC68, 0px 0px 24px #06FC68, 0px 0px 6px #06FC68;

        }

        &.blue {
            text-shadow: 0px 0px 64px #0066FF, 0px 0px 24px #0066FF, 0px 0px 6px #0066FF;


        }

    }
}

@media (max-width: $lgTableWidth) {
    .tokenomics {
        .head {
            font-size: 34px;
            line-height: 36px;
            text-align: center;
        }
        .descr {
            text-align: center;
        }
        .img {
            width: 100%;
        }
        .content {
            width: 100%;
        }
        .wrapper {
            text-align: center;
            flex-direction: column;
            &.reverse {
                flex-direction: column-reverse;
            }
        }
    }
}

@media (max-width: $smTableWidth) { 
    .tokenomics {
        .title {
            font-size: 28px;
        }
    }
}

