.roadmap {
    padding-bottom: rem(80);
    .title {
        font-weight: 700;
        font-size: rem(55);
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: rem(64);
        text-shadow: 0px 0px 64px rgba(255, 255, 255, 0.5), 0px 0px 24px rgba(255, 255, 255, 0.4), 0px 0px 4px rgba(255, 255, 255, 0.6);

    }

    .block {
        position: relative;
        display: flex;
        padding: rem(42) rem(48) rem(62) rem(112);
        background: url(./../img/roadmap/block-bg.svg) top left no-repeat;
        gap: rem(16)
    }

    .status {
        white-space: nowrap;
        font-weight: 700;
        font-size: rem(16);

        &.done {
            color: #00FFA3;
            text-shadow: 0px 0px 16px rgba(0, 255, 163, 0.8), 0px 0px 4px rgba(0, 255, 163, 0.8);
        }

        &.process {
            color: #00F0FF;
            text-shadow: 0px 0px 16px rgba(0, 240, 255, 0.8), 0px 0px 4px rgba(0, 240, 255, 0.8);
        }

        &.soon {
            opacity: 0.8;
            text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.8), 0px 0px 4px rgba(255, 255, 255, 0.8);
        }
    }

    .date {
        position: absolute;
        width: rem(100);
        height: rem(100);
        top: rem(-11);
        left: rem(-11);
        background: url(./../img/roadmap/date.png) center center no-repeat;
        background-size: 100% 100%;
        font-weight: 700;
        line-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: rem(12) 0;

        &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(66);
            height: 2px;
            background-color: #319CFF;
        }

        span {
            font-size: rem(22);

        }

        strong {
            font-size: rem(29);
        }
    }

    .name {
        .step {
            font-weight: 700;
            font-size: rem(28);
            line-height: 120%;
            width: rem(324);
        }
    }

    ul {
        width: 100%;
        font-weight: 400;
        font-size: rem(18);
        line-height: 160%;
    }

    li {
        display: flex;
        justify-content: space-between;
        gap: rem(16);
    }
}

@media (max-width: $lgTableWidth) {
    .roadmap {
        .block {
            flex-direction: column;
        }
        .name {
            .step {
                width: 100%;
            }
        }
    }
}

@media (max-width: $smTableWidth) { 
    .roadmap {
        .title {
            font-size: 34px;
        }
        .block {
            padding: 5rem 1.5rem 1.5rem;
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
        }
        .date {
            left: 50%;
            transform: translate(-50%, -50%);
            top: 0;
        }
    }
}