section.roadmap#roadmap
    .container 
        .title ROADMAP
        .block 
            .date 
                span Q4
                strong 2021
            .name
                .status.done(data-lang="road-done") DONE
                .step(data-lang="road-block-1") Alpha 2.0 <br> Web-версии игры
            ul 
                li 
                    span(data-lang="road-block-1-1") MVP-игры в web
                    .status.done(data-lang="road-done1") DONE
                li 
                    span(data-lang="road-block-1-2") Первичные продажи NFT-дварфов
                    .status.done(data-lang="road-done2") DONE
                li 
                    span(data-lang="road-block-1-3") Турниры среди игроков в web-версии
                    .status.done(data-lang="road-done3") DONE
                li 
                    span(data-lang="road-block-1-4") MVP с Unity-геймплеем
                    .status.done(data-lang="road-done4") DONE
                li 
                    span(data-lang="road-block-1-5") Новый дизайн web-версии игры
                    .status.done(data-lang="road-done5") DONE
        .block 
            .date 
                span Q1
                strong 2022
            .name
                .status.done(data-lang="road-done6") DONE
                .step(data-lang="road-block-2") Beta 1.0 <br> Web-версии игры
            ul 
                li 
                    span(data-lang="road-block-2-1") Гранд-турнир бета-версии на блокчейне
                    .status.done(data-lang="road-done7") DONE
                li 
                    span(data-lang="road-block-2-2") Разработка моста между блокчейном и Minecraft
                    .status.done(data-lang="road-done8") DONE
                li 
                    span(data-lang="road-block-2-3") Проведение турниров в мире Minecraft
                    .status.done(data-lang="road-done9") DONE
        .block 
            .date 
                span Q2
                strong 2022
            .name
                .status.process(data-lang="road-progress") IN PROCESS
                .step(data-lang="road-block-3") Внедрение целевой модели экономики и токенометрики
            ul 
                li 
                    span(data-lang="road-block-3-1") Создание прототипа META.CITY в мире Minecraft
                    .status.process(data-lang="road-progress1") IN PROCESS
                li 
                    span(data-lang="road-block-3-2") Выпуск токенов NCT/RAD/cUSD
                    .status.process(data-lang="road-progress2") IN PROCESS
                li 
                    span(data-lang="road-block-3-3") Маркетплейс внутри игры
                    .status.process(data-lang="road-progress3") IN PROCESS
                li 
                    span(data-lang="road-block-3-4") Паблик-раунд
                    .status.soon(data-lang="road-soon") SOON
                li 
                    span(data-lang="road-block-3-5") Запуск международной рекламной кампании
                    .status.soon(data-lang="road-soon1") SOON
                li 
                    span(data-lang="road-block-3-6") Запуск метавселенной METACRAFT в мире Minecraft
                    .status.process(data-lang="road-progress4") IN PROCESS
                li 
                    span(data-lang="road-block-3-7") Запуск основного релиза web-версии в блокчейне Polygon
                    .status.process(data-lang="road-progress5") IN PROCESS
                li 
                    span(data-lang="road-block-3-8") Запуск beta-версии на движке Unity с интеграцией с блокчейном
                    .status.process(data-lang="road-progress6") IN PROCESS
                li 
                    span(data-lang="road-block-3-9") Запуск платформы для подключения сторонних Minecraft-серверов
                    .status.soon(data-lang="road-soon2") SOON
        .block 
            .date 
                span Q3-Q4
                strong 2022
            .name
                .status.soon(data-lang="road-soon3") SOON
                .step(data-lang="road-block-4") Расширение метавселенной METACRAFT до 300K пользователей
            ul 
                li 
                    span(data-lang="road-block-4-1") Создание META.CITY со всеми культурными достопримечательностями мира в виде NFT-объектов
                    .status.soon(data-lang="road-soon4") SOON
                li 
                    span(data-lang="road-block-4-2") Подключение наиболее популярных AAA-игр к экономике METACRAFT.EARTH	
                    .status.soon(data-lang="road-soon5") SOON
                li 
                    span 
                    .status 
                li 
                    span 
                    .status 
                li 
                    span 
                    .status 
                li 
                    span 
                    .status 
