section.roadmap#roadmap
    .container 
        .title ROADMAP
        .block 
            .date 
                span Q4
                strong 2021
            .name
                .status.done DONE
                .step Alpha 2.0 <br> Web-версии игры
            ul 
                li 
                    span MVP-игры в web
                    .status.done DONE
                li 
                    span Первичные продажи NFT-дварфов
                    .status.done DONE
                li 
                    span Турниры среди игроков в web-версии
                    .status.done DONE
                li 
                    span MVP с Unity-геймплеем
                    .status.done DONE
                li 
                    span Новый дизайн web-версии игры
                    .status.done DONE
        .block 
            .date 
                span Q1
                strong 2022
            .name
                .status.done DONE
                .step Beta 1.0 <br> Web-версии игры
            ul 
                li 
                    span Гранд-турнир бета-версии на блокчейне
                    .status.done DONE
                li 
                    span Разработка моста между блокчейном и Minecraft
                    .status.done DONE
                li 
                    span Проведение турниров в мире Minecraft
                    .status.done DONE
        .block 
            .date 
                span Q2
                strong 2022
            .name
                .status.process IN PROCESS
                .step Внедрение целевой модели экономики и токенометрики
            ul 
                li 
                    span Создание прототипа META.CITY в мире Minecraft
                    .status.process IN PROCESS
                li 
                    span Выпуск токенов NCT/RAD/cUSD
                    .status.process IN PROCESS
                li 
                    span Маркетплейс внутри игры
                    .status.process IN PROCESS
                li 
                    span Паблик-раунд
                    .status.soon SOON
                li 
                    span Запуск международной рекламной кампании
                    .status.soon SOON
                li 
                    span Запуск метавселенной METACRAFT в мире Minecraft
                    .status.process IN PROCESS
                li 
                    span Запуск основного релиза web-версии в блокчейне Polygon
                    .status.process IN PROCESS
                li 
                    span Запуск beta-версии на движке Unity с интеграцией с блокчейном
                    .status.process IN PROCESS
                li 
                    span Запуск платформы для подключения сторонних Minecraft-серверов
                    .status.soon SOON
        .block 
            .date 
                span Q3-Q4
                strong 2022
            .name
                .status.soon SOON
                .step Расширение метавселенной METACRAFT до 300K пользователей
            ul 
                li 
                    span Создание META.CITY со всеми культурными достопримечательностями мира в виде NFT-объектов
                    .status.soon SOON
                li 
                    span Подключение наиболее популярных AAA-игр к экономике METACRAFT.EARTH	
                    .status.soon SOON
                li 
                    span 
                    .status 
                li 
                    span 
                    .status 
                li 
                    span 
                    .status 
                li 
                    span 
                    .status 
