.token {
    padding-top: rem(100);
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
    .container {
        position: relative;
    }
    ul {
        display: flex;
        align-items: center;
        flex-flow: wrap;
        gap: 62px;
        margin-top: 42px;
        margin-bottom: 48px;
    }
    li {
        position: relative;
        font-weight: 400;
        font-size: rem(24);
        line-height: rem(28);
        max-width: rem(255);
        span {
            color: rgba(255, 255, 255, 1);
            &.title-grey {
                display: block;
                color: rgba(255, 255, 255, 0.8);
            }
            &.green {
                color: $textGreen;
                text-shadow: 0px 0px 24px rgba(78, 255, 17, 0.4), 0px 0px 4px rgba(78, 255, 17, 0.6);
            }
            &.blue {
                color: $textBlue;
                text-shadow: 0px 0px 24px rgba(0, 163, 255, 0.4), 0px 0px 4px rgba(0, 163, 255, 0.6);
            }
        }
        img {
            position: absolute;
            left: rem(-40);
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .img {
        position: absolute;
        right: rem(-232);
        width: rem(1511);
        height: rem(780);
        top: rem(-200);
        z-index: -1;
    }
    .title {
        position: relative;
        z-index: 1;
        font-weight: 700;
        font-size: rem(40);
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: rem(26);
        text-shadow: $mainShadow;
        span.green {
            color: #4eff10;
        }
    }
    .exchanger {
        width: rem(288);
        .label {
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: #ffffff;
            margin-bottom: 8px;
        }
        .input {
            position: relative;
            width: 100%;
            height: rem(64);
            margin-bottom: 24px;
            input {
                height: 100%;
                width: 100%;
                background: rgba(0, 0, 0, 0.4);
                box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1), inset 0px 4px 12px rgba(0, 0, 0, 0.45);
                border: none;
                outline: none;
                font-weight: 700;
                font-size: rem(28);
                line-height: 130%;
                text-transform: uppercase;
                color: #ffffff;
                padding: 13px 70px 13px 16px;
            }
            span {
                position: absolute;
                right: rem(10);
                top: 50%;
                transform: translateY(-50%);
                font-weight: 700;
                font-size: rem(20);
                line-height: 130%;
                text-align: right;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.6);
                &.green {
                    color: $textGreen;
                    text-shadow: 0px 0px 24px rgba(78, 255, 17, 0.4), 0px 0px 4px rgba(78, 255, 17, 0.6);
                }
                &.blue {
                    color: $textBlue;
                    text-shadow: 0px 0px 24px rgba(0, 163, 255, 0.4), 0px 0px 4px rgba(0, 163, 255, 0.6);
                }
            }
        }
        .hint {
            display: inline-block;
            font-weight: 400;
            font-size: rem(16);
            line-height: 130%;
            margin-bottom: 5px;
            &.sale {
                text-decoration: line-through;
                font-size: rem(12);
                color: rgba(255, 255, 255, 0.6);
            }
        }
        .sale-text {
            display: none;
            padding-bottom: 10px;
            font-weight: 600;
            &.active {
                display: block;
            }
        }
        #timer {
            font-size: 18px;
            font-weight: 600;
            animation: saleText 2.5s infinite;
            color: rgb(78, 255, 17);
            text-shadow: 0px 0px 24px rgba(78, 255, 17, 0.4);
        }
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 64px;
            background: #0066ff;
            box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6), inset -1px 1px 2px rgba(255, 255, 255, 0.4),
                inset 1px 1px 2px rgba(255, 255, 255, 0.4);
            border: none;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: right;
            text-transform: uppercase;
            color: #ffffff;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            z-index: 1;
            &:hover {
                box-shadow: 0px 0px 5px rgba(255, 255, 255, 1), inset -1px 1px 2px rgba(255, 255, 255, 0.8),
                    inset 1px 1px 4px rgba(255, 255, 255, 1);
                img {
                    transform: translateX(10px);
                }
            }
            img {
                transition: all 1s ease-in-out;
            }
            span {
                padding-right: 16px;
            }
            &:disabled {
                background: rgb(145, 145, 145);
                pointer-events: none;
                cursor: default;
            }
        }
    }
}

@media (max-width: $lgTableWidth) {
    .token {
        .img {
            opacity: 0.2;
        }
    }
}

@media (max-width: $smTableWidth) {
    .token {
        padding-top: 20px;
        .title {
            font-size: 34px;
            br {
                display: none;
            }
        }
        ul {
            margin-left: 0;
            justify-content: center;
        }
        li {
            list-style: none;
            img {
                display: none;
            }
            span {
                white-space: nowrap;
            }
        }
        .container {
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}

@keyframes saleText {
    50% {
        filter: grayscale(1);
        text-shadow: 0px 0px 12px rgba(78, 255, 17, 0.9);
    }
}
