section.achievements#achievements
    .container 
        .title(data-lang="achievements-title") Результаты
        .wrapper 
            .item
                p(data-lang="achievements-name-1") Создали прототип метавселенной METACRAFT в мире Minecraft
                i(data-lang="achievements-link-1") coming soon
                +picture('./img/achievements/item-1', ['png', 'webp'])
            .item
                p(data-lang="achievements-name-2") Получили финансирование в размере $3,7M USD
                i(data-lang="achievements-link-2") Proof by Request
                +picture('./img/achievements/item-2', ['png', 'webp'])
            a(href="https://dwarfworld.ru").item
                p(data-lang="achievements-name-3") Регулярные турниры в 3D-метавселенной Minecraft
                span(data-lang="achievements-link-3") Турниры
                +picture('./img/achievements/item-3', ['png', 'webp'])
            a(href="#team").item
                p(data-lang="achievements-name-4") Собрали ТОП-команду экспертов и разработчиков
                span(data-lang="achievements-link-4") Команда
                +picture('./img/achievements/item-4', ['png', 'webp'])
            a(href="https://app.nftcraft.game").item
                p(data-lang="achievements-name-5") Браузерная игра на блокчейне
                span(data-lang="achievements-link-5") Игра
                +picture('./img/achievements/item-5', ['png', 'webp'])
            a(href="https://polygonscan.com/address/0x1ae8c689c013f596aec66471e8f5662f16b06642?roistat_visit=128137").item
                p(data-lang="achievements-name-6") Продали более 1.000 NFT и создали устойчивую экономику
                span(data-lang="achievements-link-6") Контракт
                +picture('./img/achievements/item-6', ['png', 'webp'])
            a(href="https://unity.nftcraft.game").item
                p(data-lang="achievements-name-7") MVP мультиплатформенной 3D-игры на Unity
                span(data-lang="achievements-link-7") Игра
                +picture('./img/achievements/item-7', ['png', 'webp'])
            .item
                p(data-lang="achievements-name-8") Провели ряд презентаций и митапов, получили положительную оценку  
                .row 
                    a(href="https://www.youtube.com/watch?v=GQ7gziZzmWM" data-lang="achievements-link-8-1") Видео 01.10.21
                    a(href="https://youtu.be/624xg-b5gG0" data-lang="achievements-link-8-2") Видео 22.02.22
                +picture('./img/achievements/item-8', ['png', 'webp'])
            a(href="https://polygonscan.com/address/0x75e35522ec4fd6d815191c2a4134477a33cfd829#analytics").item
                p(data-lang="achievements-name-9") Выпуск Governance-токена NCT
                span(data-lang="achievements-link-9") Контракт
                +picture('./img/achievements/item-9', ['png', 'webp'])
            a(href="#partners").item
                p(data-lang="achievements-name-10") Заключили партнерства с крупными фондами и сильными партнерами
                span(data-lang="achievements-link-10") Партнеры
                +picture('./img/achievements/item-10', ['png', 'webp'])
            .img 
                +picture('./img/achievements/img', ['png', 'webp'])
