section.achievements
    .container 
        .title Результаты
        .wrapper 
            .item
                p Создали прототип метавселенной METACRAFT в мире Minecraft
                img(src="../../img/achievements/item-1.png", alt="")
            .item
                p Получили финансирование в размере $3,7M USD
                i Proof by Request
                img(src="../../img/achievements/item-2.png", alt="")
            .item
                p Регулярные турниры в 3D-метавселенной Minecraft
                img(src="../../img/achievements/item-3.png", alt="")
            .item
                p Собрали ТОП-команду экспертов и разработчиков
                img(src="../../img/achievements/item-4.png", alt="")
            .item
                p Браузерная игра на блокчейне
                img(src="../../img/achievements/item-5.png", alt="")
            .item
                p Продали более 1.000 NFT и создали устойчивую экономику
                img(src="../../img/achievements/item-6.png", alt="")
            .item
                p MVP мультиплатформенной 3D-игры на Unity
                img(src="../../img/achievements/item-7.png", alt="")
            .item
                p Провели ряд презентаций и митапов, получили положительную оценку  
                img(src="../../img/achievements/item-8.png", alt="")
            .item
                p Выпуск Governance-токена NCT
                img(src="../../img/achievements/item-9.png", alt="")
            .item
                p Заключили партнерства с крупными фондами и сильными партнерами
                img(src="../../img/achievements/item-10.png", alt="")
            .img 
                img(src="../../img/achievements/img.png", alt="")
