section.achievements#achievements
    .container 
        .title(data-lang="achievements-title") Результаты
        .wrapper 
            .item
                p(data-lang="achievements-name-1") Создали прототип метавселенной METACRAFT в мире Minecraft
                img(src="./img/achievements/item-1.png", alt="")
            .item
                p(data-lang="achievements-name-2") Получили финансирование в размере $3,7M USD
                //- i Proof by Request
                img(src="./img/achievements/item-2.png", alt="")
            .item
                p(data-lang="achievements-name-3") Регулярные турниры в 3D-метавселенной Minecraft
                img(src="./img/achievements/item-3.png", alt="")
            .item
                p(data-lang="achievements-name-4") Собрали ТОП-команду экспертов и разработчиков
                img(src="./img/achievements/item-4.png", alt="")
            .item
                p(data-lang="achievements-name-5") Браузерная игра на блокчейне
                img(src="./img/achievements/item-5.png", alt="")
            .item
                p(data-lang="achievements-name-6") Продали более 1.000 NFT и создали устойчивую экономику
                img(src="./img/achievements/item-6.png", alt="")
            .item
                p(data-lang="achievements-name-7") MVP мультиплатформенной 3D-игры на Unity
                img(src="./img/achievements/item-7.png", alt="")
            .item
                p(data-lang="achievements-name-8") Провели ряд презентаций и митапов, получили положительную оценку  
                img(src="./img/achievements/item-8.png", alt="")
            .item
                p(data-lang="achievements-name-9") Выпуск Governance-токена NCT
                img(src="./img/achievements/item-9.png", alt="")
            .item
                p(data-lang="achievements-name-10") Заключили партнерства с крупными фондами и сильными партнерами
                img(src="./img/achievements/item-10.png", alt="")
            .img 
                img(src="./img/achievements/img.png", alt="")
