section.main 
    .dwarf 
    .container 
        .label 
            p 
                span(data-lang="main-label-1") КУПИ - 
                span.green NCT
                span(data-lang="main-label-2") -токен платформы с возможностью   
                span.big.green x10

        .logo 
            img(src="./img/main/logo.png", alt="")
        .island-1 
            img(src="./img/main/island-1.png", alt="")
        .island-2
            img(src="./img/main/island-2.png", alt="")
        .crystal 
            img(src="./img/main/crystal.png", alt="")
        