section.main 
    .dwarf 
    .container 
        .label 
            p 
                span(data-lang="main-label-1") КУПИ - 
                span.green NCT
                span(data-lang="main-label-2") -токен платформы с возможностью   
                span.big.green x10
        .logo 
            +picture("./img/main/logo", ['png', 'webp'])
        .island-1
            +picture("./img/main/island-1", ['png', 'webp'])            
        .island-2
            +picture("./img/main/island-2", ['png', 'webp'])
        .crystal
            +picture("./img/main/crystal", ['png', 'webp'])
        