section.main 
    .container 
        .label 
            p КУПИ - 
                span NCT
                |-токен платформы с возможностью   
                span.big x10

        .logo 
            img(src="../../img/main/logo.png", alt="")