section.main 
    .container 
        .label 
            p 
                span(data-lang="main-label-1") КУПИ - 
                span.green NCT
                span(data-lang="main-label-2") -токен платформы с возможностью   
                span.big.green x10

        .logo 
            img(src="../../img/main/logo.png", alt="")