.notfound
    .container 
        .content 
            img(src="../../../img/404/404.png", alt="").error
            img(src="../../../img/404/dwarf.png", alt="").dwarf
        a(href="/").btn На главную