.tokenomics {
    padding: rem(108) 0 rem(166);
    color: #fff;
    .concepts {
        background: url(../../../img/tokenomics/tab-5.png) center center repeat;
        background-size: 100% 100%;
    }
    b {
        color: $mainFontColor;
        font-weight: 700;
    }
    .head {
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(50);
        margin-bottom: rem(60);
        text-shadow: $mainShadow;
    }
    .descr {
        font-weight: 400;
        font-size: rem(20);
        line-height: 160%;
        margin-bottom: rem(72);
    }
    img {
        width: 100%;
        height: 100%;
    }
    .img {
        width: 50%;
    }
    .wrapper {
        margin-top: rem(100);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(24) rem(48);

        &:not(:last-child) {
            margin-bottom: rem(60);
        }
    }

    .content {
        width: 50%;

        p {
            font-weight: 400;
            font-size: rem(20);
            line-height: 150%;

            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    .title {
        font-weight: bold;
        font-size: rem(40);
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: rem(24);

        &.emerald {
            text-shadow: 0px 0px 64px #5acd00, 0px 0px 24px #5acd00, 0px 0px 6px #5acd00;
        }

        &.purple {
            text-shadow: 0px 0px 64px #06fc68, 0px 0px 24px #06fc68, 0px 0px 6px #06fc68;
        }

        &.blue {
            text-shadow: 0px 0px 64px #0066ff, 0px 0px 24px #0066ff, 0px 0px 6px #0066ff;
        }
    }
    .text {
        padding: rem(18) rem(24);
        p {
            text-align: left;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.1875rem;
            opacity: .8;
            color: #fff;
            margin-bottom: 0.5rem;
        }
        &.one {
            background: radial-gradient(100% 100% at 0% 0%, rgba(0, 102, 255, 0.12) 0%, rgba(0, 102, 255, 0) 100%);
        }
        &.two {
            background: radial-gradient(100% 100% at 0% 0%, rgba(173, 109, 255, 0.12) 0%, rgba(173, 109, 255, 0) 100%);
        }
        &.three {
            background: radial-gradient(100% 100% at 0% 0%, rgba(90, 205, 0, 0.12) 0%, rgba(90, 205, 0, 0) 100%);
        }
        &.four {
            background: radial-gradient(100% 100% at 0% 0%, rgba(234, 96, 18, 0.16) 0%, rgba(234, 96, 18, 0) 100%);
        }
        &.five {
            background: radial-gradient(100% 100% at 0% 0%, rgba(238, 238, 238, 0.12) 0%, rgba(173, 109, 255, 0) 100%);
            border: 1px solid rgba(255, 255, 255, 0.14);
        }
    }
    .label {
        position: relative;
        padding: rem(18) rem(24) rem(20);
        display: flex;
        flex-direction: column;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        strong {
            font-weight: 700;
            font-size: rem(28);
            line-height: 130%;
        }
        i {
            font-weight: 400;
            font-size: rem(16);
            line-height: 130%;
        }
        &.five {
            margin-bottom: rem(20);
            border: 1px solid rgba(255, 255, 255, 0.25);
        }
    }
    .tabs {
        display: flex;
        justify-content: space-between;
        gap: rem(20);
        margin-bottom: rem(20);
        .item {
            width: calc(25% - rem(20));
        }
    }
}

@media (max-width: $lgTableWidth) {
    .tokenomics {
        .head {
            font-size: 34px;
            line-height: 36px;
            text-align: center;
        }
        .descr {
            text-align: center;
        }
        .img {
            width: 100%;
        }
        .content {
            width: 100%;
        }
        .wrapper {
            text-align: center;
            flex-direction: column;
            &.reverse {
                flex-direction: column-reverse;
            }
        }
        .tabs {
            flex-wrap: wrap;
            .item {
                width: calc(50% - rem(20));
            }
        }
    }
}

@media (max-width: $smTableWidth) {
    .tokenomics {
        .title {
            font-size: 28px;
        }
    }
}

@media (max-width: $phoneWidth) {
    .tokenomics {
        .tabs {
            .item {
                width: 100%;
            }
        }
    }
}
