section.tokenomics#tokenomics
  .container
    .head(data-lang="tokenomics-title") Tockenomic project
    .label.five
        img(src="./img/tokenomics/tab-5.png", alt="")
        strong(data-lang="tokenomics-label") Основные понятия токеномики вселенной METACRAFT
    .tabs 
        .item 
            .label 
                img(src="./img/tokenomics/tab-1.png", alt="")
                strong NCT
                i(data-lang="tokenomics-name-1") Управляющий токен
            .text.one 
                p(data-lang="tokenomics-descr-1-1") Управляющий (governance) токен платформы, предназначенный для инвестиционных и управленческих целей.
        .item 
            .label 
                img(src="./img/tokenomics/tab-2.png", alt="")
                strong cUSD
                i(data-lang="tokenomics-name-2") Стейбл-токен CraftUSD
            .text.two 
                p(data-lang="tokenomics-descr-2-1") Обеспечен фондом CraftFund, состоящий из токенезированного золота (PAXG) и эфира (ETH), приблизительно в равных долях (50/50%) на старте проекта.
                p(data-lang="tokenomics-descr-2-2") Стейблтокеном cUSD будут вознаграждаться пользователи, партнеры проекта и команда проекта.
        .item 
            .label 
                img(src="./img/tokenomics/tab-3.png", alt="")
                strong RAD
                i(data-lang="tokenomics-name-3") Токен Radiant
            .text.three 
                p(data-lang="tokenomics-descr-3-1") Токен-доля общего игрового фонда. Обладатели токена RAD могут претендовать на % от общего призового пула в момент раскрытия в зависимости от кол-ва токенов. Количество токенов RAD ограничено (1M).
                p(data-lang="tokenomics-descr-3-2") До 85% всех продаж и услуг сервиса направляется в общий игровой фонд, таким образом, стоимость токена RAD будет расти пропорционально объему ликвидности в фонде.
        .item 
            .label 
                img(src="./img/tokenomics/tab-4.png", alt="")
                strong CraftFund
                i(data-lang="tokenomics-name-4") Общий игровой фонд
            .text.four 
                p(data-lang="tokenomics-descr-4-1") Обеспечивающий все объекты и механики мета-мира, состоящий из токенезированного золота (PAXG) и эфира (ETH) в пропорции 50/50%. Игровой фонд CraftFund постоянно пополняется со всех продаж объектов и услуг в мета-мире.
                p(data-lang="tokenomics-descr-4-2") Также объем фонда в среднесрочной перспективе будет расти за счет увеличения количества и роста стоимости обеспечивающих активов (PAXG/ETH). 
    .text.five 
        p(data-lang="tokenomics-descr-5-1") Механизмы эмиссии, циркуляции и ценообразования для cUSD, RAD, NCT будут максимально поощрять создание устойчивой внутренней и внешней ценности в мире METACRAFT. 
        p(data-lang="tokenomics-descr-5-2") Главный игровой фонд раскроется при цене ETH более 15K USD. Данная модель позволит получить высокую прибыль от активности и развития игровых объектов почти всем участникам проекта
    .wrapper
        .img
            img(src="./img/tokenomics/main-1.png", alt="")
        .content
            .title.emerald(data-lang="tokenomics-subtitle-1") КАК ЗАРАБАТЫВАЮТ <br> ИГРОКИ
            p(data-lang="tokenomics-token-descr-1-1") Игроки, выполняя задания, участвуя в турнирах, строя архитектурные сооружения и добывая ценные ресурсы, получают cUSD - игровой стейблтокен в размере от 1/1000 до 1/50 от текущего размера фонда.
            p(data-lang="tokenomics-token-descr-1-2") cUSD можно вывести в полном объеме с течением времени или купить на всю сумму на выбор: токены доли призового пула RAD, токены платформы NCT, NFT-объекты, услуги или другие возможности на платформе и мирах, созданных на ее основе.
    .wrapper.reverse
        
        .content
            .title.purple(data-lang="tokenomics-subtitle-2") КАК ЗАРАБАТЫВАЕТ <br> КОМАНДА
            p(data-lang="tokenomics-token-descr-2-1") Команда зарабатывает за счет комиссий с транзакций до 15% и доли от общего игрового фонда CraftFund в момент раскрытия в размере 20%.
        .img
            img(src="./img/tokenomics/main-2.png", alt="")
    .wrapper
        .img
            img(src="./img/tokenomics/main-3.png", alt="")
        .content
            .title.blue(data-lang="tokenomics-subtitle-3") КАК ЗАРАБАТЫВАЮТ <br> ИНВЕСТОРЫ
            p(data-lang="tokenomics-token-descr-3-1") Инвесторы могут заработать покупая токены проекта - NCT или токены призового пула - RAD
            p(data-lang="tokenomics-token-descr-3-2") Стоимость управляющего токена NCT неизбежно увеличивается, при достижении планируемых операционных показателей проекта.
            p(data-lang="tokenomics-token-descr-3-3") Чем больше инвестор купил токенов RAD, тем больше % от общего призового пула и соответственно доля вознаграждения, в момент раскрытия CraftFund.
        