section.tokenomics#tokenomics
  .container
    .head ТОКЕНОМИКА ПРОЕКТА
    .tabs 
        .item 
            .label 
                img(src="./img/tokenomics/tab-1.png", alt="")
                strong NCT
                i Управляющий токен
            .text.one 
                p Управляющий (governance) токен платформы, предназначенный для инвестиционных и управленческих целей.
        .item 
            .label 
                img(src="./img/tokenomics/tab-2.png", alt="")
                strong cUSD
                i Стейбл-токен CraftUSD
            .text.two 
                p Обеспечен фондом CraftFund, состоящий из токенезированного золота (PAXG) и эфира (ETH), приблизительно в равных долях (50/50%) на старте проекта. Стейблтокеном cUSD будут вознаграждаться пользователи, партнеры проекта и команда проекта.
        .item 
            .label 
                img(src="./img/tokenomics/tab-3.png", alt="")
                strong RAD
                i Токен Radiant
            .text.three 
                p Токен-доля общего игрового фонда. Обладатели токена RAD могут претендовать на % от общего призового пула в момент раскрытия в зависимости от кол-ва токенов. Количество токенов RAD ограничено (1M). До 85% всех продаж и услуг сервиса направляется в общий игровой фонд, таким образом, стоимость токена RAD будет расти пропорционально объему ликвидности в фонде.
        .item 
            .label 
                img(src="./img/tokenomics/tab-4.png", alt="")
                strong CraftFund
                i Общий игровой фонд
            .text.four 
                p Обеспечивающий все объекты и механики мета-мира, состоящий из токенезированного золота (PAXG) и эфира (ETH) в пропорции 50/50%. Игровой фонд CraftFund постоянно пополняется со всех продаж объектов и услуг в мета-мире. Также объем фонда в среднесрочной перспективе будет расти за счет увеличения количества и роста стоимости обеспечивающих активов (PAXG/ETH). 
    .wrapper
        .img
            img(src="./img/tokenomics/main-1.png", alt="")
        .content
            .title.emerald КАК ЗАРАБАТЫВАЮТ <br> ИГРОКИ
            p Игроки, выполняя задания, участвуя в турнирах, строя архитектурные сооружения и добывая ценные ресурсы, получают cUSD - игровой стейблтокен в размере от 1/1000 до 1/50 от текущего размера фонда.
            p USD можно вывести в полном объеме с течением времени или купить на всю сумму на выбор: токены доли призового пула RAD, токены платформы NCT, NFT-объекты, услуги или другие возможности на платформе и мирах, созданных на ее основе.
    .wrapper.reverse
        
        .content
            .title.purple КАК ЗАРАБАТЫВАЕТ <br> КОМАНДА
            p Команда зарабатывает за счет комиссий с транзакций до 15% и доли от общего игрового фонда CraftFund в момент раскрытия в размере 20%.
        .img
            img(src="./img/tokenomics/main-2.png", alt="")
    .wrapper
        .img
            img(src="./img/tokenomics/main-3.png", alt="")
        .content
            .title.blue КАК ЗАРАБАТЫВАЮТ <br> ИНВЕСТОРЫ
            p Инвесторы могут заработать покупая токены проекта - NCT или токены призового пула - RAD
            p Стоимость управляющего токена NCT неизбежно увеличивается, при достижении планируемых операционных показателей проекта.
            p Чем больше инвестор купил токенов RAD, тем больше % от общего призового пула и соответственно доля вознаграждения, в момент раскрытия CraftFund.
        