mixin image(name, title)
    -title = title || name;
    img.src(src=require(`../src/images/${name}.png`) alt=title)
doctype html
html(lang='en')
    include pug/head
    body
        main 
            include pug/sections/main
            include pug/sections/token
            include pug/sections/steps
            include pug/sections/achievements
            include pug/sections/numbers
            include pug/sections/team
            include pug/sections/footer
